html {
  font-family: system-ui, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Aplicar filtro de desenfoque al fondo */
.blur-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/backgroud3.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 12;
}
